@model List<MedicalCenter.Models.Appointment>

<h2>Wizyty</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Doctor.User.LastName</td>
            <td>@item.Doctor.User.FirstName</td>
            <td>@item.Doctor.Specialization.Name</td>
            <td>@item.AppointmentDate</td>
            <td>@item.Status.Name</td>
        </tr>
    }
</table>