@model List<MedicalCenter.DTOs.AppointmentDto>

<h2>Wizyty</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Doctor.LastName</td>
            <td>@item.Doctor.FirstName</td>
            <td>@item.Doctor.SpecializationName</td>
            <td>@item.AppointmentDate</td>
            <td>@item.StatusName</td>
        </tr>
    }
</table>