@model List<MedicalCenter.DTOs.DoctorDto>

<h2>Lekarze</h2>

<div class="text-center">
    <a asp-controller="Admin" asp-action="Create">Dodaj lekarza</a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Specjalizacja</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Phone</td>
            <td>@item.SpecializationName</td>
            <td>
                <form asp-action="Delete" asp-controller="Admin" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="DoctorId" value="@item.Id" />
                    <button type="submit">Usuń Lekarza</button>
                </form>
            </td>
        </tr>
    }
</table>