@model List<MedicalCenter.DTOs.AppointmentDto>

<h2>Wizyty</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Patient.LastName</td>
            <td>@item.Patient.FirstName</td>
            <td>@item.Patient.Phone</td>
            <td>@item.AppointmentDate</td>
            <td>@item.StatusName</td>
        </tr>
    }
</table>