@model MedicalCenter.DTOs.UpdatePatientProfileDto;

@{
    ViewData["Title"] = $"Witaj {Model.FirstName} {Model.LastName}";
}

<div class="container py-5">
    <div class="row g-4">
        <div class="col-lg-7">
            <p>@Model.FirstName @Model.LastName</p>
            <p>@Model.Email</p>
            <p>@Model.Phone</p>
            
            <p>@Model.Pesel</p>
            <p>@Model.BirthDate</p>
        </div>

        <div class="col-lg-5">
            <form asp-action="UploadProfilePicture" asp-controller="Account"
                  method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="file" name="profilePicture" accept=".jpg,.jpeg,.png" />
                <button type="submit" class="btn btn-medical">Zapisz zdjęcie</button>
            </form>

            @if (Model.ProfilePicturePath != null)
            {
                <img src="@Model.ProfilePicturePath" alt="Zdjęcie profilowe"
                     style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;" />
            }
            else
            {
                <i class="fa-solid fa-user-circle" style="font-size: 100px;"></i>
            }
        </div>
    </div>
</div>


